<div id="content-1" class="content shadow border rounded container-fluid">
  <h3 class="text-lg-left text-center pt-3 text-uppercase text-blue border-bottom font-weight-bold" style="font-size: 1.8rem;">
    Lịch sử quản lý
  </h3>
  <div class="sub-navbar d-flex justify-content-md-between flex-md-row flex-column my-4" style="font-size:.9rem">

  </div>
  <!-- LIST OF PACKAGES -->
  <div class="table-responsive-xl table-hover">
    <table class="table table-content border mb-0 menu">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ngày</th>
          <th scope="col">Giờ</th>
          <th class="text-center" scope="col">Hành động</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      {{#if empty}}
        <p style="font-size: 1.6rem;">Không có dữ liệu</p>
      {{else}}
        <tbody>
          {{#each histories}}
            <tr class="section">
              <th class="align-middle" scope="row">{{sum @index 1}}</th>
              <td class="align-middle name" title="name">{{this.date}}
              </td>
              <td class="align-middle products" title="products">{{this.time}}</td>
              <td class="align-middle limit-package text-center" title="limit-package">{{this.action}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/if}}
    </table>
  </div>
  <!-- PAGINATION -->
  <nav id="main-pagination" class="mt-3" aria-label="Search results pages"></nav>
</div>
{{!-- {{/section}} --}}

{{! DEFINE A 'script' SECTION }}
{{#section "script"}}
  <script> var perPage = 4; </script>
  <script src="/js/jquery.twbsPagination.js"></script>
  <script src="/js/paging.js"></script>

{{/section}}