<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="/user/search" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Nhập CMND/CCCD" aria-label="Search" name="natid" />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
  </form>
</nav>
<form action="/user/all" method="get">
  <select name="sort" class="form-control form-select form-select-lg mb-3" aria-label=".form-select-lg example"
    onchange="this.form.submit()">
    <option selected>Lọc theo...</option>
    <option value="id">Lọc theo mã</option>
    <option value="date">Lọc theo ngày</option>
    <option value="name">Lọc theo tên</option>
  </select>
</form>
{{#each users}}
<p>
  <a href="/user/{{this.f_ID}}">{{this.f_ID}}</a>
  <br />
  {{this.f_Fullname}}
  <br />
  F{{this.f_Fx}}
  <br />
  {{this.f_NatID}}
  <br />
  {{#each this.f_RelatedID}}
  Người liên quan:
  <a href="/user/{{this}}">{{this}}</a>
  <br />
  {{/each}}
</p>
{{/each}}
<form action="/user/create" method="get">
  <button class="btn btn-block btn-outline-danger my-3 my-sm-0" type="submit">Thêm người liên quan</button>
</form>