<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/all.min.css" />
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/all.min.js"></script>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
{{#section 'header'}}
  <header id="main-navbar" class="navbar navbar-expand-lg navbar-light sticky-top">
    <h3 class="my-0 flex-md-grow-1 text-center text-md-left text-default" href="#">COVID-WEBAPP</h3>
    <form
      class="form-inline my-2 mx-3 border border-dark rounded-pill overflow-hidden flex-grow-1 flex-md-grow-0 flex-lg-grow-1 bg-white order-1 order-sm-0">
      <div class="input-group flex-grow-1">
        <input class="form-control border-0  shadow-none" type="text" placeholder="Tìm kiếm" aria-label="Search"
          name='search'>
        <div class="input-group-prepend">
          <button class="btn text-center" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </form>
    <button class="order-n1 navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#sidebar"
      aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler  border-0" type="button" data-toggle="collapse" data-target="#account-menu"
      aria-controls="account-menu" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 text-right" id="account-menu">
      <div class="btn-group nav-item dropdown ml-auto">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu__sections">
          <a class="dropdown-item nav-link" href="#">
            <i class="fas fa-user mr-1 "></i>
            Tài khoản của tôi
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Lịch sử thanh toán
          </a>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Lịch sử điều trị
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Đăng xuất
          </a>
        </div>
      </div>
      </ul>
    </div>

    <div class="collapse navbar-collapse flex-grow-0 text-right" id="account-menu">
      <div class="btn-group nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-default" href="#" id="account-menu__sections" role="button"
          data-toggle="dropdown" aria-expanded="false">
          <img src="/img/avt.jpg" alt="" srcset="" class="rounded-circle" style="width:42px">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="account-menu__sections">
          <a class="dropdown-item nav-link" href="#">
            <i class="fas fa-user mr-1 "></i>
            Tài khoản của tôi
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-history mr-1"></i>
            Lịch sử thanh toán
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-history mr-1"></i>
            Lịch sử điều trị
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
            <div class="">
              <i class="fas fa-bell mr-1"></i>
              Thông báo  
            </div>
            <span class="badge badge-primary">4</span>
          </a>
          <div class="dropdown-divider m-0"></div>
          <a class="dropdown-item" href="#">
            <i class="fas fa-sign-out-alt mr-1"></i>
            Đăng xuất
          </a>
        </div>
      </div>
      </ul>
    </div>
  </header>
{{/section}}
  {{!-- DEFINE A 'header' SECTION--}}
  {{{_sections.header}}}

  <div class="main-content container-fluid">
    <div class="row">
    {{!-- NAVBAR: DEFAULT --}}
    {{#section 'sidebar'}}
        <nav class="col-md-3 col-lg-2 collapse navbar-collapse d-lg-block shadow sidebar" id="sidebar">
            <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2 active"
                    href="#" aria-current="page">
                    <i class="fas fa-home"></i>
                    <span class="ml-2">Thông tin cá nhân</span>
                </a>
                </li>
                
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2"
                    href="#">
                    <i class="fas fa-users"></i>
                    <span class="ml-2">Shopping</span>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link d-flex align-items-center justify-content-md-start justify-content-center my-2"
                    href="#">
                    <i class="fas fa-fish"></i>
                    <span class="ml-2">Liên kết hệ thống thanh toán</span>
                </a>
                </li>
            </ul>
            </div>
        </nav>
    {{/section}}
    {{!-- DEFINE A 'sidebar' SECTION --}}
    {{{_sections.sidebar}}}

      <main class=" pt-4 ml-sm-auto col-lg-10">
        {{!-- DEFINE A 'body' SECTION --}}
        {{{body}}}
        <footer class="container-fluid py-3 my-4 border-top">
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-muted">© 2021 Company, Inc</span>
          </div>
        </footer>
      </main>
    </div>
  </div>
  <script src="/js/sidebar.js"></script>
  <script src="/js/main.js"></script>
{{!-- DEFINE A 'script' SECTION --}}
{{{_sections.script}}}
</body>

</html>