{{!-- {{#each products}}
{{this.f_ID}}
{{this.f_Name}}
{{this.f_Price}}
{{this.f_Unit}}
<br />
{{/each}} --}}

<div id="content-1" class="content shadow border rounded container-fluid">
  <div class="row pt-3">
    <div class="col-12 h-100">
      <p id="product-name" class="title text-blue text-center text-md-left border-bottom text-uppercase"
        style="font-size: 1.8rem; font-weight: bold;">Danh sách nhu yếu phẩm</p>
    </div>
  </div>

  <div class="sub-navbar d-flex justify-content-md-between flex-md-row flex-column my-4" style="font-size:.9rem">
    <!-- Search-form -->
    <form id='sub-nav__search-form' class="form-inline" action="/manager/people" method="GET">
      <div class="form-group mb-2">
        <label for="sub-nav__search-input">Tìm kiếm</label>
        <input type="text" class="form-control shadow-none mx-sm-2" id="sub-nav__search-input" name="search"></input>
      </div>
    </form>

    <!-- Sort -->
    <form id='sortby-form' class="form-inline" action="/manager/products">
      <div class="form-group mb-2">
        <label for="sub-nav__sort-by">Sắp xếp theo</label>
        <select class="form-control shadow-none custom-select mx-sm-2" id="sub-nav__sort-by" aria-label="sort-by"
          name="sort_by">
          <option class="py-1" value="name-ascending" data-filter="&sortby=(name:asc)">Tên: A &rarr; Z</option>
          <option class="py-1" value="name-descending" data-filter="&sortby=(name:desc)">Tên: Z &rarr; A
          </option>
          <option class="py-1" value="price-ascending" data-filter="&sortby=(price:asc)">Giá: Tăng dần</option>
          <option class="py-1" value="price-descending" data-filter="&sortby=(price:desc)">Giá: Giảm dần
          </option>
        </select>
      </div>
    </form>
  </div>
  <!-- LIST OF products -->
  <div class="container-fluid menu products-list">
    <div class="row">
      {{#if products}}
        {{#each products}}
          <div class="section col-md-3 col-sm-4 col-12 mb-4">
            <div class="card shadow h-100">
              <img class="card-img-top" src="../../assets/img/products/rice.jfif" alt="Hồ Quang Cua - Gạo ST25 Ông Cua">
              <div class="card-body d-flex flex-column justify-content-between" style="min-height: 120px;">
                <a class="h5 card-title text-truncate text-default text-decoration-none" href="#">
                  {{this.f_Name}}
                </a>
                <p class="card-text text-red price-info" style="font-size: 1.3rem;">{{this.f_Price}}đ</p>
              </div>
            </div>
          </div>
        {{/each}}
      {{else}}
        <h3 class="text-uppercase">Không có dữ liệu</h3>
      {{/if}}
    </div>
  </div>
  <!-- PAGINATION -->
  <nav id="main-pagination" class="mt-3" aria-label="Search results pages"></nav>
</div>


{{! DEFINE A 'script' SECTION }}
{{#section "script"}}
<script>
  var perPage = 6;
</script>
<script src="/js/jquery.twbsPagination.js"></script>
<script src="/js/paging.js"></script>
{{/section}}