<div id="content-1" class="content shadow border rounded p-2">
    <div class="container-fluid">
        <!-- IMAGES -->
        <div class="row min-vh-100 py-3">
            {{#with product}}
            <div class="col-md-5 col-12 h-100">
                <div id="necessity-images" class="carousel slide carousel-fade border mx-1 mb-5" data-ride="carousel"
                    style="min-height: 100%; width: 100%;">
                    <ol class="carousel-indicators">
                        <li data-target="#necessity-images" data-slide-to="0" class="active"></li>
                        <li data-target="#necessity-images" data-slide-to="1"></li>
                        <li data-target="#necessity-images" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" style="height: 100%;">
                        {{#each this.f_Images}}
                        {{#if @first}}
                        <div class="carousel-item active" data-interval="3000">
                            <img class="img-fluid necessity-image" src="{{this}}" alt="{{this.f_Name}}" />
                        </div>
                        {{else}}
                        <div class="carousel-item" data-interval="3000">
                            <img class="img-fluid necessity-image" src="{{this}}" alt="{{this.f_Name}}" />
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    <a class="carousel-control-prev" href="#necessity-images" role="button" data-slide="prev">
                        <i class="fas fa-angle-left text-black-50" style="font-size: 2.2rem"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#necessity-images" role="button" data-slide="next">
                        <i class="fas fa-angle-right text-black-50" style="font-size: 2.2rem"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7 col-12 h-100">
                <form id="edit-form" action="/product/{{this.f_ID}}?_method=PATCH" method="POST">
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="name-input" class="font-weight-bold">Tên</label>
                            <input id="name-input" type="text" class="form-control" value="{{this.f_Name}}"
                                name="f_Name" title="Tên" readonly />
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="price-input" class="font-weight-bold">Đơn giá</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="price-input" value="{{this.f_Price}}"
                                    name="f_Price" rules="required" title="Đơn giá" />
                                <div class="input-group-append">
                                    <span class="input-group-text">đ</span>
                                </div>
                                <span class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="unit-input" class="font-weight-bold">Đơn vị định
                                lượng</label>
                            <input type="text" class="form-control" id="unit-input" name="f_Unit" value="{{this.f_Unit}}"
                                rules="required|alpha" title="Đơn vị định lượng" />
                            <span class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 text-truncate">
                            <label for="images-input" class="font-weight-bold">Thêm ảnh</label>
                            <div class="input-group mb-3 w-100">
                                <a id='add-input-btn' role="button" class="btn plus-button text-red" type="button">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                <div class="form-group flex-grow-1 image-input-group">
                                    {{#each this.f_Images}}
                                    <div class="d-flex image-input">
                                        <input type="text" class="form-control mb-2" name="f_Images" value="{{this}}">
                                        <a role="button" class="btn minus-button text-red"
                                            type="button" onclick="decrease(this)">
                                            <i class="fas fa-minus-circle"></i>
                                        </a>
                                    </div>
                                    {{/each}}
                                    {{#unless this.f_Images}}
                                    <input type="text" class="form-control mb-2" name="f_Images">
                                    {{/unless}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-check mr-1"></i>
                        Lưu
                    </button>
                </form>

            </div>
            {{/with}}
        </div>
    </div>
</div>
{{! DEFINE A 'script' SECTION }}
{{#section "script"}}
<script src="	https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
<script src="/js/validator.js"></script>
<script>
    var decrease;
    $(document).ready(function () {
        bsCustomFileInput.init();
        $("#add-input-btn").click(function () {
            $(".image-input-group").append(`
                <div class="d-flex image-input">
                    <input type="text" class="form-control mb-2" name="f_Images" value="">
                    <a role="button" class="btn minus-button text-red"
                        type="button" onclick="decrease(this)">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </div>
            `)
            console.log($("#edit-form").find('input').length)
            Validator('#edit-form');
        })

        decrease = function(object) {
            $(object).parents(".image-input").remove();
        }
    })
</script>
{{/section}}