{{!-- {{tmpProd.f_ID}}
{{tmpProd.f_Name}}
{{tmpProd.f_Price}}
{{tmpProd.f_Unit}} --}}

<div id="content-1" class="content shadow border rounded p-2">
    <div class="container-fluid">
        <!-- IMAGES -->
        <div class="row min-vh-100 py-3">
            {{#if product}}
                {{#with product}}
                <div class="col-md-5 col-12 h-100">
                    <div id="product-images" class="carousel slide carousel-fade border mx-1 mb-5" data-ride="carousel"
                        style="min-height: 100%; width: 100%;">
                        <ol class="carousel-indicators">
                            <li data-target="#product-images" data-slide-to="0" class="active"></li>
                            <li data-target="#product-images" data-slide-to="1"></li>
                            <li data-target="#product-images" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" style="height: 100%;">
                            {{#each this.f_Images}}
                                {{#if @first}}
                                    <div class="carousel-item active" data-interval="3000">
                                        <img class="img-fluid necessity-image" src="{{this}}"
                                            alt="{{this.f_Name}}" />
                                    </div>
                                {{else}}
                                    <div class="carousel-item" data-interval="3000">
                                        <img class="img-fluid necessity-image" src="{{this}}"
                                            alt="{{this.f_Name}}" />
                                    </div>
                                {{/if}}
                            {{/each}}
                            {{#unless this.f_Images}}
                                <div class="carousel-item" data-interval="3000">
                                    <img class="img-fluid product-image" src="/img/products/no_image.png"
                                        alt="{{pname}}" />
                                </div>
                                                                <div class="carousel-item" data-interval="3000">
                                    <img class="img-fluid product-image" src="/img/products/no_image.png"
                                        alt="{{pname}}" />
                                </div>

                                <div class="carousel-item active" data-interval="3000">
                                    <img class="img-fluid product-image" src="/img/products/no_image.png"
                                        alt="{{pname}}" />
                                </div>
                            {{/unless}}
                        </div>
                        <a class="carousel-control-prev" href="#product-images" role="button" data-slide="prev">
                            <i class="fas fa-angle-left text-black-50" style="font-size: 2.2rem"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#product-images" role="button" data-slide="next">
                            <i class="fas fa-angle-right text-black-50" style="font-size: 2.2rem"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-7 col-12 h-100">
                    <p id="product-name" class="title text-blue text-center text-md-left border-bottom"
                        style="font-size: 1.8rem">{{this.f_Name}}</p>
                    <div class="container product-info border border-bottom-0">
                        <div class="row border-bottom">
                            <div class="col-4 text-right bg-light py-1">Đơn giá</div>
                            <div class="col-8 py-1 price-info" style="font-weight: 500;">{{this.f_Price}}đ</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-4 text-right bg-light py-1">Đơn vị định lượng</div>
                            <div class="col-8 py-1" style="font-weight: 500;">{{this.f_Unit}}</div>
                        </div>
                    </div>
                    <div class="my-3">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item mb-1">
                                <a class="btn btn-primary" href="/product/edit/{{this.f_ID}}" role="button">
                                    <i class="fas fa-pen mr-1"></i>
                                    Cập nhật thông tin
                                </a>
                            </li>
                            <li class="list-inline-item mb-1">
                                <button type="button" class="btn btn-danger rounded" data-toggle="modal"
                                    data-target="#delete-modal">
                                    <i class="fa fa-trash mr-1"></i>
                                    Xoá sản phẩm
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                {{/with}}
            {{else}}
                <h3 class="text-uppercase">Không có dữ liệu</h3>
            {{/if}}
        </div>
    </div>
</div>

{{! DEFINE A 'modal' SECTION }}
{{#section 'modal'}}
<!-- DELETE MODAL -->
    {{#with product}}
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
      <form class="modal-dialog modal-dialog-centered" action="/product/{{this.f_ID}}?_method=DELETE" method="post">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <h5 class="modal-title" id="delete-model__label">Xoá</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group row">
              <div class="col-sm-10">
                <input type="hidden" readonly class="hidden" id="ID-input" name="id">
              </div>
            </div>
            <h5 class="message"></h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-red text-white">Xóa</button>
          </div>
        </form>
      </div>
      {{/with}}
{{/section}}

{{! DEFINE A 'script' SECTION }}
{{!-- {{#section "script"}}{{/section}} --}}